.jumbotron
  %h1 What's going on near me?
  %p.lead
    The BBC covers all sorts of events and current affairs all over the world.
  %p.lead
    Wouldn't it be neat if you could search that and find relevant content?
  %a.btn.btn-large.btn-success{href: '/mentions'} Dive right in
  %a.btn.btn-large.btn-success{href: '/search'} Find stuff near me
